@import "tailwindcss";
@import "tw-animate-css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pretty-focus:focus-visible {
    outline: 2px solid blue;
    outline-offset: 1px;
    border-radius: 5px;
  }
}

/* Unused */
@keyframes animate-bg {
  0% {background-position: 0% 100%;}
  50% {background-position: 100% 100%;}
  100% {background-position: 0% 100%;}
}

/* --background: #e3e1e1;  Alternative for light */
.light {
  --background: #f4f4f4;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-grotesk: var(--font-schibsted-grotesk);
  --font-mont: var(--font-montserrat);
  --font-play: var(--font-playfair-display);
  --font-cause: var(--font-cause);
  --font-rob: var(--font-roboto-condensed);
  --font-super: var(--font-supermercado-one);
}

@media (prefers-color-scheme: dark) {
  /* :root { */
  :root:not(.light):not(.dark) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}