@import "tailwindcss";
/* @import "tw-animate-css"; */
/* @tailwind-base
@tailwind-component
@tailwind-utility */

.light {
  --background: #f4f4f4;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-grotesk: var(--font-schibsted-grotesk);
  --font-mont: var(--font-montserrat);
  --font-play: var(--font-playfair-display);
  --font-cause: var(--font-cause);
  --font-rob: var(--font-roboto-condensed);
  --font-super: var(--font-supermercado-one);
}

@media (prefers-color-scheme: dark) {
  /* :root { */
  :root:not(.light):not(.dark) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}